$primary-color: #0ee0a1;
$secondary-color: #ffed00;
$tertiary-color: #a70cff;

div.m-login-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5%;
    gap: 2rem;
    background: $primary-color;

    > #logo {
        width: 70%;
        padding-bottom: 3em;
    }
}

div.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

div#nfc, div#qr {
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        color: black;
    }

    > :global(span.close) {
        position: absolute;
        top: 1.5em;
        right: 1.5em;
        height: 1.5em;
        width: 1.5em;
    }

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        max-width: calc(80% - 2rem);
        background: white;
        border-radius: 0.5rem;
    }
}

.qr-component {
    width: 100%;
}