#table {
  width: 23vw;
  padding-bottom: 1.5%;
  padding-left: 5.5%;
  padding-right: 6.5%;
  border-radius: 25px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.24);
  background-color: white;
}

.listBox {
  height: 10vh;
  width: 10vw;
}

.sliderBox {
  //height: 10vh;
  width: 12vw;
  padding-top: 0;
}

#inputBox {
  padding-left: 4%;
  text-align: center;
  white-space: nowrap;
}

.input {
  width: 6vw;
  height: 5vh;
  font-size: 30px;
  text-align: center;
  color: #878787;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.24);
}

.tagText {
  //margin: 5% 0%;
  text-align: center;
  font-size: 1.2rem;
  color: #878787;
  width: 100%;
}
