#table {
  width: 23vw;
  height: 13vh;
  padding-bottom: 7.5%;
  padding-left: 7.5%;
  padding-right: 8.5%;
  border-radius: 25px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.24);
  background-color: white;
}

.listBox {
  height: 10vh;
  width: 10vw;
}

.sliderBox {
  //height: 10vh;
  width: 12vw;
  margin-bottom: 5%;
}

#inputBox {
  margin: auto;
  text-align: center;
  white-space: nowrap;
}

.input {
  width: 7vw;
  height: 5vh;
  font-size: 30px;
  text-align: center;
  color: #878787;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.24);
  margin-bottom: 4%;
  margin-top: 2%;
}

.tagText {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  color: #878787;
  width:100%
}
