@use "sass:color";

$primary-color: #0ee0a1;
$secondary-color: #ffed00;
$tertiary-color: #a70cff;
$ease-out-overshoot: cubic-bezier(0, 0, 0.4, 1.3);

div#transition {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary-color;
    white-space: pre;

    > span {
        transition: transform $ease-out-overshoot 500ms;

        h1 {
            display: inline-block;
        }
    }
}

.slide-t2b-appear {
    transform: translateY(calc(-50vh - 50%)) !important;
}

.slide-t2b-appear-active {
    transform: translateY(0) !important;
}

.slide-t2b-appear-done {
    transform: translateY(0) !important;
}

div#monster-container {
    display: flex;
    flex-direction: column;
    
    > div:first-of-type {
        display: flex;
        flex-direction: column;
        background: url("../../assets/backgrounds/forest.svg");
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: cover;
        flex: 8;

        > div:not(#monster) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1%;
            flex: 2;
            background: #FFED00;

            > button {
                color: white;
                background: $tertiary-color;
            }

            > span {
                font-size: 3em;
            }
        }
        
        > #monster {
            flex: 10;
            margin-top: 10%;
            padding: 0 20%;
        }
    }

    > div:last-of-type {
        display: flex;
        flex: 2;
        background: #3A522B;

        > span {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: calc(100% - 120px);
            height: calc(100% - 60px);
            margin: auto;
            border-radius: 36px;
            background: #FFED00;
            font-size: 2.5em;
        }
    }


}
