@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
$shadow-thin: 0 2px 5px rgba(0, 0, 0, 0.2);
$SwiperHeight: 80%;
$SwiperWidth: 80%;
* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  height: fit-content;
  width: fit-content;
}

input {
  box-sizing: border-box;
  border: none;
  padding: 2% 4%;

  &::placeholder {
    color: #ccc;
  }

  &.hide-number-buttons[type="number"]::-webkit-inner-spin-button,
  &.hide-number-buttons[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.5em;
  font-size: 2em;
  background-color: #555;
  border: none;
  border-radius: 0.3em;

  &:hover {
    cursor: pointer;
  }
}

#SetStudent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.5em;
  font-size: 2em;
  background-color: #ffed00;
  border: none;
  border-radius: 0.3em;

  &:hover {
    cursor: pointer;
  }
}

#SetTeacher {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.5em;
  font-size: 2em;
  background-color: #5283f5;
  border: none;
  border-radius: 0.3em;

  &:hover {
    cursor: pointer;
  }
}

span.arrow-left {
  display: inline-block;
  margin-right: 0.25em;
  width: 0;
  height: 0;
  border-top: 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
  border-right: 0.6em solid white;
}

.error {
  color: red !important;
}

div#root {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: grey;
  overflow: hidden;
}

.lobby-component {
  overflow-y: hidden;
}

.text-shadow {
  text-shadow: $shadow;
}

.box-shadow {
  box-shadow: $shadow-thin;
}

.box-shadow-inner {
  box-shadow: inset $shadow-thin;
}

.fill-parent {
  height: 100%;
  width: 100%;
}

.close {
  &::before,
  &::after {
    position: absolute;
    left: 50%;
    content: " ";
    height: 100%;
    width: 10%;
    background: rgb(172, 172, 172);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

* {
  &.fade-rtl-enter {
    opacity: 0;
    transform: translateX(20px);
  }

  &.fade-rtl-enter-active {
    opacity: 1;
    transform: none;
    transition: all 500ms;
  }

  &.fade-rtl-enter-done {
    opacity: 1;
    transform: none;
  }

  &.fade-rtl-exit {
    opacity: 1;
    transform: none;
  }

  &.fade-rtl-exit-active {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 500ms;
  }

  &.fade-rtl-exit-done {
    opacity: 0;
    transform: translateX(-20px);
  }
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0px);
  }

  12.5%,
  62.5% {
    transform: translateX(-5px);
  }

  37.5%,
  87.5% {
    transform: translateX(5px);
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 250ms;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-40%);
  }
}

.swiper-container {
  width: $SwiperWidth;
  height: $SwiperHeight;
  border-radius: 25px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
